*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #8dbb88;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: antiquewhite;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
.rest-link{
    list-style: none;
    display: flex;
    gap: 30px;

}
.rest-link a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3 ease,
    border-bottom 0.3 ease

}

.hero{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
 

}

.hero-img{
    width: 130px;
    height: 130px;
    border-radius: 50px;
    object-fit: cover;
    border: 3px solid #00bcd4;
    margin-bottom: 20px;
}

.hero-text h1{
     font-size: 2em;
    color: #111;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 1.1em;
    color: #555;
    max-width: 500px;
}
.rest-link a:hover{
    color: red;
    border-bottom: 2px solid red;
    padding-bottom: 2px;
}
.menu-toggle{
    display: none;
}
.menu-icon{
    display: none;
    cursor: pointer;
    font-size: 28px;
}

footer {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.ushqimet2{
    background-color: rgb(184, 154, 117);
    padding: 70px 20px;
    text-align: center;
.ushqime2{
    font-size: 2em;
    margin-bottom: 40px;
    color: #111;
    position: relative;
    text-decoration: underline;
}

.ushqimet-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.ushqime-card{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    margin: 15px;
    transform: transform 0.3s ease, box-shadow 0.3s ease;

}
.ushqime-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(241, 33, 33, 0.734);
}

.menu-card img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.menu-card h3{
    padding: 15px;
    font-size: 1.3em;
    color: #333;
    background: #fff;
    font-weight: 600;
}

.contact{
    background-color: aliceblue;
    padding: 80px 20px;
    text-align: center;
}

.contact h2{
    font-size: 2em;
    color: #111;
    margin-bottom: 40px;
}
.contact-form{
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 50px;
    background: #48dddd;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.01);

}
.input-group{
    margin-bottom: 20px;
    text-align: left;
}

.input-group label{
    display: block;
    font-weight: 600;
    margin-bottom: 7px;
}

.input-group input,
.input-group textarea{
    width: 600;
    padding: 12px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    font-family: inherit;
    transition: border 0.3 ease;

}
.input-group input,
.input-group textarea:focus{
    border-color: orange;
    outline: none;
}
.input-group textarea{
    height: 140px;
    resize: none;
}

.contact-btn{
    width: 100%;
    padding: 14px;
    background: rgba(96, 155, 61, 0.822);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    transition: background 0.3 ease;


}

@media(max-width: 767px){

    .contact-form{
        width: 95%;
        padding: 20px;

    }

    .menu-icon{
        display: block;
    }


    .reat-link{
       position: absolute;
       top: 60px;
       left: 0;
       width: 100%;
       background: #111;
       flex-direction: column;
       align-items: center;
       gap: 20px;
       padding: 20, 0;
       display: none;

    }
   .menu-toggle:checked + .menu-icon + .rest-link{
    display: flex;
    animation: slideDown 0.3 ease;
   }
   @keyframes slideDown{
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}

   }
}